<html>
<head>
</head>
<body>
Main
<form method="post">
    <label>
        <input name="ID" tag="ID" placeholder="Id"/>
    </label>
    <label>
        <input name="NAME" tag="NAME" placeholder="NAME"/>
    </label>
    <button type="submit">Submit</button>
</form>

{{#task}}
    <tr>
   <td>{{ID}}</td>
        <td>{{NAME}}</td>
    </tr>
{{/task}}


</body>
</html>