<!DOCTYPE html>
<html>
<head>
  <title>Cars</title>
  <link rel="stylesheet" href="css/style.css" />
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h2>List of cars</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  {{#task}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
  </tr>
  {{/task}}
</table>
</body>
</html>